{% extends "layout.html" %}
{% block content %}
<div class="row">
    <div class="col-sm-3">
    <img src="/uploads/{{pokemons.picture}}" alt="{{pokemons.name}}" style="width: 100%">
    </div>
    <div class="col-sm-9">
        <h2>{{pokemons.name}} <small>Pokémon n°{{pokemons.number}}</small></h2>
        <a href="/edit/{{pokemons._id}}" class="btn btn-primary">Editer</a>
            <p class="lead">{{pokemons.description}}</p>
            <h3>Types :</h3>
            {% for t in pokemons.types %}
                <span style="background-color:{{t.color}}" class="labal label-default">{{t.name}}</span>
            {% endfor %}
    </div>
</div>

{% endblock %}
