<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <a href="/">
        <h1> Mon super pokedex</h1>
    </a>
        {% block content %}{% endblock %}
        <hr>
        <div class="text-center">
        copyright 2018 perince
        </div>
    </div>
</body>
</html>